.popin{
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'arial', sans-serif;
}
.popin .layer{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    visibility:hidden;
    opacity:0;
    transition: all 0.5s;
}
.popin .content{
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    visibility:hidden;
    opacity:0;
    transition: all 0.5s;
}
.popin .popin_check:checked ~ .layer,
.popin .popin_check:checked ~ .content{
    visibility:visible;
    opacity:1;
    margin-top:0;
}
.popin .content .header{
    padding: 5px 0;
    min-height: 1.5em;
    border-bottom: 1px solid;
}
.popin .close_popin{
    cursor: pointer;
    float: right;
    font-weight: bold;
}
.popin .content .main{
    padding: 5px 0;
}
.show_popin{
    cursor: pointer;
    padding: 8px;
    border: 1px solid #000;
}
.modal-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: #5ec792;
  border: none;
  color: #000;
  font-size: 1.0rem;
  font-weight: bold;
  cursor: pointer;
}
.close {
    float: right;
}

